* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: grey;
}

/* Scroll bar */
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  -webkit-border-radius: 5px;
  background-color: lightgrey;
}
::-webkit-scrollbar-thumb:hover{
  background-color: lightgreen;
}
/* /Scroll bar */

/* Utility */
.wrapper {
  width: 100%;
  height: 100vh;
  background: lightgrey;
}

.aside_active {
  border-left: 3px solid lightgreen;
}
.aside_active span,
.aside_active i {
  color: white;
}

.active a {
  color: white;
}
.active::after {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
  height: 3px;
  width: 20%;
  margin-top: 5px;
  background: lightgreen;
}

.space_between {
  justify-content: space-between;
}

.circle_covers {
  border-radius: 100%;
}

.scroll_minute {
  position: relative;
  display: inline-block;
  height: 4px;
  background: grey;
  width: 50%;
  vertical-align: middle;
  border-radius: 5px;
}
.scroll_minute:hover {
  cursor: pointer;
}
.scroll_minute .minutes_listened {
  position:absolute;
  top: 0;
  left: 0;
  width: 30%;
  display: inline-block;
  height: 4px;
  background: lightgrey;
  vertical-align: middle;
  border-radius: 5px;
}
.scroll_minute .minutes_listened i {
  position: absolute;
  top: -5px;
  right: 0;
  display: none;
}
.scroll_minute:hover .minutes_listened {
  background: lightgreen;
}
.scroll_minute:hover .minutes_listened i {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

main {
  display: flex;
  width: 100%;
  height: calc(100% - 90px);
}

.no_style_list {
  list-style: none;
}

a {
  text-decoration: none;
}
/* /Utility */

/* Sezione Aside di sx */
main .aside_container {
  width: 250px;
  background: black;
}

.aside_top {
  display: flex;
  flex-direction: column;
  height: calc(100% - 90px);
  min-height: 300px;
}

.aside_top li:hover a,
.aside_top li:hover i {
  color: white;
}

.aside_top .logo_spotify {
  padding: 10px;
}
.aside_top .logo_spotify img{
  width: 125px;
}
.aside_top .icon_spotify {
  display: none;
  padding: 10px;
}
.aside_top .icon_spotify i {
  font-size: 30px;
  color: white;
}

/* Navigazione aside */
.aside_top .aside_nav li {
  padding: 3px 10px;
}
.aside_nav li:hover a span {
  color: white;
}

.aside_top .aside_nav a {
  line-height: 30px;
}
.aside_top .aside_nav i {
  display: inline-block;
  width: 30px;
  margin-right: 5px;
  font-size: 25px;
  vertical-align: middle;
}
.aside_top .aside_nav li:hover {
  cursor: pointer;
  border-left: 3px solid lightgreen;
}

/* Playlist */
.aside_top .nav_playlist {
  padding: 10px;
  margin-top: 5px;
}
.aside_top .nav_playlist h4 {
  margin-bottom: 5px;
  text-transform: uppercase;
}
.aside_top .nav_playlist #new_playlist {
  display: block;
  height: 40px;
}
.aside_top .nav_playlist i {
  margin-right: 10px;
  font-size: 40px;
  line-height: 40px;
  vertical-align: middle;
}
.aside_top .nav_playlist #new_playlist:hover {
  color: white;
  cursor: pointer;
}
.aside_top .nav_playlist #new_playlist:hover i {
  color: white;
}

.aside_top .name_playlist {
  padding: 0 10px;
  overflow: auto;
}
.aside_top .name_playlist li {
  padding: 5px 0;
}

/* Parte inferiore aside */
.aside_bottom {
  height: 90px;
  padding: 10px;
}
.aside_bottom .install_app {
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid grey;
}
.aside_bottom i{
  margin-right: 10px;
}
.aside_bottom .your_profile i {
  font-size: 30px;
  vertical-align: middle;
}
.aside_bottom .your_profile span {
  font-size: 12px;
  color: white;
}

.aside_bottom .install_app:hover i,
.aside_bottom .install_app:hover span
 {
  color: white;
}

/* Contenuto del main */
main .main_content {
  padding-top: 110px;
  width: calc(100% - 250px);
  height: 100%;
  background: rgba(0, 0, 10, 0.9);
  overflow-y: scroll;
}

/* Call to action */
.main_content .cta_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  right:0;
  z-index: 3;
  width: calc(100% - 250px);
  padding-right: 50px;
  height: 100px;
  background: rgba(0, 0, 0, 0.5);
}

.cta_container .call_to_act {
  padding: 10px 30px;
  border-radius: 50px;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  animation-name: nonso;
  animation-duration: 2s;
}
@keyframes nonso {
  0% {
    transform: scale(0.5);
  }
}

.cta_container .call_to_act:hover {
  transition: 1s;
  cursor: pointer;
  transform: scale(1.2);
  background: rgba(144, 238, 144, 0.3);
}

/* Contenuto centrale */
.main_content .nav_menu {
  display: flex;
  justify-content: center;
}
.nav_menu ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  text-transform: uppercase;
}
.nav_menu ul li {
  padding: 15px 10px;
  width: 15%;
  text-align: center;
}
.nav_menu ul li:hover {
  cursor: pointer;
}
.nav_menu ul li:hover a {
  transition: 2s;
  color: rgb(144, 238, 144);
}

.create_for, .recently_played,
.popular_artists {
  padding: 20px;
}

.main_content h3 {
  font-size: 28px;
  padding: 10px 0;
}
.main_content .cover_container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cover_container figure {
  margin: 15px 0;
  padding-right: 20px;
  width: 16%;
  text-align: center;
}
.cover_container figure .cover_img {
  position: relative;
  width: 100%;
  animation-name: coveranim;
  animation-duration: 1.5s;
}
@keyframes coveranim {
  0% {
    transform: rotate(180deg) scale(0.1);
  }
}

figure h4 {
  font-size: 16px;
  margin: 10px 0;
}
.cover_container .cover_img img {
  display: block;
  width: 100%;
  transition-duration: 1s;
}
.cover_container .cover_img i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
  opacity: 0;
  transition: 1s;
}
.cover_container .cover_img:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
  border-radius: 100%;
}
.cover_container .cover_img:hover img {
  opacity: 0.5;
  border-radius: 100%;
}
.cover_container .cover_img:hover i {
  opacity: 1;
}
.cover_container .cover_img i:hover {
  color: lime;
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  width: 100%;
  height: 90px;
  background: #303030;
  color: white;
}

footer .music_player_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}
.mp_left, .mp_right {
  width: 250px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* mp left */
.mp_left .played_song {
  display: flex;
  align-items: center;
  height: 100%;
}
.mp_left .played_song img {
  padding: 8px;
  height: 100%;
}
li#title_album {
  color: white;
}
.mp_left .played_song a:hover {
  text-decoration: underline;
  color: white;
}
.played_song ul li:last-child a {
  font-size: 11px;
}
.cta_album {
  text-align: right;
}
.cta_album i {
  font-size: 18px;
  padding: 0 3px;
}
.cta_album a:hover i {
  color: white;
}

/* mp center */
.mp_center i, .mp_center a {
  color: white;
}
.mp_center {
  text-align: center;
  width: 50%;
}

.btn_player_container {
  height: 100%;
  margin: auto;
}
.btn_player_container .btn_player {
  width: 100%;
}
.btn_player_container .btn_player ul {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.btn_player ul li {
  padding: 0 10px;
  line-height: 40px;
}
.btn_player ul li i {
  vertical-align: middle;
  font-size: 20px;
}
.btn_player ul li:nth-child(3) i {
  font-size: 35px;
}
.btn_player ul li:nth-child(3) i:hover {
  transform: scale(1.1);
  transition: 1s;
  color: lime;
}
.btn_player ul li:nth-child(even) i {
  font-size: 30px;
}

.mp_center .minute_bar {
  margin-top: 5px;
  height: 20px;
  line-height: 20px;

}
.minute_bar span {
  display: inline-block;
  padding: 0 10px;
  color: white;
  font-size: 11px;
}

/* mp right */
.mp_right li i{
  color: white;
}
.mp_right ul {
  display: flex;
  width: 100%;
}
.mp_right ul li {
  padding: 0 5px;
}
.mp_right ul li i {
  font-size: 12px;
}
.mp_right ul li:last-child {
  width: 100%;
}
#scroll_minute_right {
  width: 80%;
  min-width: 80px;
}
/* /Footer */


/* MD */
@media screen and (max-width: 1199px) {

  /* Sezione bonus */
  /* Utility */
  .hidden_md {
    display: none;
  }
  /* /Sezione bonus */

  /* Contenuto centrale */
  .nav_menu ul {
    width: 90%;
  }
  .nav_menu ul li {
    width: 20%;
  }

  .cover_container figure {
    padding: 0 10px;
    width: 25%;
    text-align: center;
  }

}


/* SM */
@media screen and (max-width:992px) {

  /* Sezione bonus */
  /* Utility */
  .hidden_sm {
    display: none;
  }
  /* /Sezione bonus */


  /* Contenuto centrale */
  .nav_menu ul {
    width: 90%;
  }
  .nav_menu ul li {
    width: 30%;
  }

  .cover_container figure {
    padding: 0 10px;
    width: 50%;
  }

}


/* XS */
@media screen and (max-width:768px) {

  * {
    font-size: 12px;
  }

  /* Utility */
  .hidden_xs {
    display: none;
  }

  /* Sezione Aside di sx */
  main .aside_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
  }

  /* Sezione logo */
  .aside_top .logo_spotify {
    display: none;
  }
  .aside_top .icon_spotify {
    display: block;
  }

  /* Navigazione aside */
  .aside_top .aside_nav li {
    text-align: center;
  }

  /* Parte inferiore aside */
  .aside_bottom .install_app {
    border-bottom: none;
    text-align: center;
    padding: 0;
  }
  .aside_bottom i{
    margin-right: 0;
  }

  /* Contenuto del main */
  main .main_content {
    width: calc(100% - 50px);
  }

  /* Contenuto centrale */
  main .main_content {
    width: calc(100% - 50px);
  }

  .main_content .cta_container {
    width: calc(100% - 50px);
  }

  .nav_menu ul {
    width: 100%;
  }
  .nav_menu ul li {
    width: 25%;
  }

  .cover_container figure {
    padding: 0 10px;
    width: 50%;
  }

  /* Footer */
  .mp_left, .mp_right {
    width: 200px;
    padding: 5px;
  }

  .played_song ul li:last-child a {
    font-size: 10px;
  }

}
